.vagrant/
build/
Debug/
.vs/
*.pdf
*.log
*.tlog
*.idb
*.pdb
.Rhistory
# Prerequisites
*.d
*.db

gitversion.c

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.idb
# Precompiled Headers
*.gch
*.pch
*.tlog
*.lastbuildstate

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
